@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;700');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bgAnimation{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(20,1fr);
  background: #010000;
  filter: saturate(2);
  overflow: hidden;
  z-index: -7;
}

.backgroundAmim{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background:rgb(99 102 241);
  filter: blur(60px);
  animation: animBack 6s linear infinite;
}

.animate-flipUp {
  animation: flipUp 0.7s ease-out;
}

@keyframes flipUp {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes flipLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-flipLeft {
  animation: flipLeft 0.8s ease-in-out;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}
